<header>
    <button class="menu-toggle" id="menu-toggle">&#9776;</button>
    <div class="menu-lateral" id="menu-lateral">
        <ul class="nav-links">
            <li><a href="../index.php">REGISTROS VISITANTES</a></li>
            <li><a href="../View/tablavisitantes.php">TABLA REGISTROS VISITANTES</a></li>
            <li><a href="../View/registrocolaboradores.php">REGISTROS COLABORADORES</a></li>
            <li><a href="../View/tablacolaboradores.php">TABLA REGISTROS COLABORADORES</a></li>
            <li><a href="../View/registrocontratistas.php">REGISTROS CONTRATISTAS</a></li>
            <li><a href="../View/tablacontratistas.php">TABLA REGISTROS CONTRATISTAS</a></li>
        </ul>
        <div class="logo-container">
            <img src="../View/Img/favicon-avicampo.png" width="40" alt="Logo">
        </div>
    </div>
</header>